@import url('https://fonts.googleapis.com/css?family=kumbhSans');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-image: url('./images/bg-pattern-bottom.svg');
    background-image: url('./images/bg-pattern-top.svg');
    background-color:  hsl(185, 75%, 39%);
    font-size:18px;
    font-family: 'Kumbh Sans';
}
.conatiner{
    max-width:350px;
    height:auto;
    margin:150px auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr;
    border-radius: 10px;
    background-color:  hsl(0, 0%, 100%);
}
.image{
    width:100%;
    height:140px;
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat:no-repeat ;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.avatar{
    width:110px;
    height:110px;
    background-color: white;
    padding:5.5px;
    position:relative;
    top:calc(100% - 50px);
    left:calc(50% - 55px);
    border-radius: 60px;
    
}
.avatar img{
    border-radius: 50px;
}
.follower{
    width:100%;
    height:140px;
    text-align: center;
    line-height: 2rem;
    padding:40px 10px;
    color: hsl(229, 23%, 23%);
    margin-top:20px;
}
.follower p{
    padding-bottom:25px;
}
.horizon{
   
    border-bottom: 1px solid hsl(0, 0%, 59%);
}
.follower span{
    color: hsl(227, 10%, 46%);
    font-weight:lighter
}
.follower p{
    color:hsl(0, 0%, 59%);
}
.flex{
    width:100%;
    height:70px;
    display: flex;
    padding:0 20px;
    color: hsl(229, 23%, 23%);
}
.item{
    padding:10px 7px;
    text-align: center;
    vertical-align: center;
    margin-right:40px;
}
.item:nth-child(1){
    margin-left: 10px;
}

.item p{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: small;
    padding-top:5px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }